<div *ngIf="book" class="book-detail">
  <!-- Dettagli del libro -->
  <h1>{{ book.title }}</h1>
  <p><strong>Autore:</strong> {{ book.authors }}</p>
  <p><strong>Descrizione:</strong> {{ book.description }}</p>

  <!-- Immagini del libro -->
  <div *ngIf="book.images && book.images.length">
    <h3>Immagini</h3>
    <div *ngFor="let image of book.images">
      <img [src]="image" alt="{{book.title}}" style="max-width:200px; margin: 5px;"/>
    </div>
  </div>

  <!-- Immagine principale del libro -->
  <img *ngIf="book.thumbnail" [src]="book.thumbnail" alt="{{ book.title }}" />

  <!-- Altri dettagli del libro -->
  <div *ngIf="book.otherDetails">
    <h3>Altri dettagli</h3>
    <p>{{ book.otherDetails }}</p>
  </div>
</div>
